<?xml version="1.0"?>
<launch>
  <arg name="real" default="true" />

  <include file="$(find seed_r7_bringup)/launch/seed_r7_bringup.launch"/>

  <include file="$(find seed_r7_typeg_moveit_config)/launch/move_group.launch"/>

  <include file="$(find task_editor)/launch/wheel_bringup.launch">
    <arg name="real" value="$(arg real)"/>
  </include>

  <node name="task_controller" pkg="task_editor" type="task_controller" output="screen" />
  <node name="waypoints_editor" pkg="task_editor" type="waypoints_editor" />

</launch>
