<?xml version="1.0"?>
<launch>
  <include file="$(find seed_r7_bringup)/launch/seed_r7_bringup.launch"/>
  <include file="$(find seed_r7_typeg_moveit_config)/launch/move_group.launch"/>

  <include file="$(find task_editor)/launch/wheel_bringup.launch">
    <arg name="real" value="false"/>
  </include>

  <include file="$(find seed_r7_navigation)/launch/wheel_with_dummy.launch">
    <arg name="map_keepout_file" value="$(find task_editor)/config/maps/map.yaml"/>
    <arg name="map_localization_file" value="$(find task_editor)/config/maps/map.yaml"/>
  </include>

</launch>
