<?xml version="1.0"?>
<launch>
  <include file="$(find task_editor)/launch/wheel_bringup.launch">
    <arg name="REAL_ROBOT" value="false"/>
  </include>

  <include file="$(find seed_r7_navigation)/launch/wheel_with_dummy.launch">
    <arg name="map_file" value="$(find task_editor)/config/maps/map.yaml"/>
    <arg name="map_localization_file" value="$(find task_editor)/config/maps/map.yaml"/>
  </include>

  <node name="waypoints_editor" pkg="task_editor" type="waypoints_editor" />

</launch>
